{% extends 'principal/base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}



<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="{{ asset('imagenes/logo-cabecera-index1.png') }}">
      <h2 i18n="info_section.1.title">Nueva web y servicio en Valencia centro</h2>
      <p i18n="info_section.1.text">Tu compra en casa de 7:00 a 22:00. Tramos de 1 hora. Calidad y frescura como en tu tienda.</p>
    </div>
    <div class="col-sm">
     <img src="{{ asset('imagenes/logo-cabecera-index2.png') }}">
     <h2 i18n="info_section.2.title">Próximamente en otras zonas</h2>
     <p i18n="info_section.2.text">Si quieres que te avisemos, déjanos tu email y tu código postal</p>
     <a href="#">Sí, avisadme</a>
    </div>
    <div class="col-sm">
      <img src="{{ asset('imagenes/logo-cabecera-index3.png') }}">
      <h2 i18n="info_section.3.title">La versión clásica sigue existiendo</h2>
      Si al introducir tu código postal, aún no llegamos a tu zona, puedes seguir comprando en Mercadona a través de la web de siempre.
    </div>
  </div>
</div>
<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d12362.453704998086!2d-7.0122238999999995!3d39.22894455!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2ses!4v1527836836292" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>


{% endblock %}
