header nav {
    background-color: white;
}
header > nav > img {
    margin-left: 60px;
    width: 220px;
}
header > nav > div > span {
    margin-right: 60px;
}
header >nav li {
    margin: 13px;
}
header > nav li.nav-item > a {
    color: #00ab61
;
    font-family: Muli;
    font-size: 14px;
}
header > #cabecera {
    background-image: url("https://www.mercadona.es/img/header-medium.088535.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: left;
    margin-top: 80px;
}
header > #cabecera p {
    font-size: 40px;
   font-family: PT Serif;
   font-weight: 600;
   color: white;
   text-align: left;
}


.form-control, .form-control:focus{
    border:0px;
    box-shadow: none;
    height: 50px;
}
.btn, .btn:hover{
    background-color: #00aa55;
    border: none;
    height: 50px;
    letter-spacing: 2px;
    font-family: Muli;
    font-size: .875rem;
    word-spacing: 13px;

}
body>.container{
    margin-top: 50px;
}

.col-sm>h2{
    
font-size: 22px;
font-family: PT Serif;
font-weight: 600;
line-height: 1.45;
}

.col-sm>p{
    color: rgba(59,57,53,.87);
}
a,a:hover{
    color: #00ab61;
    text-decoration:none;
}

footer{

    background-color: #1c3037;
    color:white;
}

footer a,footer a:hover{

     color: hsla(0,0%,100%,.8);
}
#negrita{
   font-size: 20px;
   font-weight: bold;
}


div>i {
    font-size: 34px;
    color: hsla(0,0%,100%,.8);
    margin-top:  10px;
    word-spacing: 5px;
    margin-left: 10px;
}
