<footer>
<footer>
    <br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col">
                    <nav class="nav flex-column">
                        <a id="negrita" class="nav-link active"> Cliente</a>
                        <a class="nav-link " href="#">Supermercados </a>
                        <a class="nav-link" href="#">Consejos</a>
                        
                        <a class="nav-link " href="#">Tarjeta Mercadona</a>
                        <a class="nav-link " href="#">Factura cliente</a>

                    </nav>
                    </div>
                    <div class="col">
                    
                    <nav class="nav flex-column">
                        <a id="negrita" class="nav-link active"> Trabajador </a>
                        <a class="nav-link " href="#">Trabaja con nosotros</a>
                        
                    </nav>
                    </div>
                    <div class="col">
                    <nav class="nav flex-column">
                        <a id="negrita" class="nav-link active" > Proveedor </a>
                        <a class="nav-link " href="#">E-factura proveedores</a>
                        <a class="nav-link" href="#">Portal Trinidad</a>
                       
                    </nav>
                    </div>
                    <div class="col">
                    <nav class="nav flex-column">
                        <a id="negrita" class="nav-link active"> Sociedad </a>
                        <a class="nav-link" href="#">Actualidad</a>
                        <a class="nav-link" href="#">Sala de prensa</a>
                         <a class="nav-link" href="#">Conoce Mercadona</a>
                    	  <a class="nav-link" href="#">Mercadona en Portugal</a>
                            
                        
                        	
                       
                        
                    </div>
                    <div class="col">
                    <nav class="nav flex-column">
                        <a id="negrita" class="nav-link active"> Contacto </a>

                        <img src="{{ asset('imagenes/logo-footer-telefono.png') }}">
                        <div>
                        
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>   
                        <i class="fab fa-instagram"></i>
                    </div>
                        
                            
                        
                        	
                       
                        
                    </div>
                    
                    
                </div>
            </div>
            
 
    

            

</footer>