<header>   

 <nav class="navbar navbar-expand-lg fixed-top ">      
  <img class="float-left"src="https://www.mercadona.com/estaticos/images/mercadona_logo/es/mercadona-imagotipo-color-300.png" height="35px">
    
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Con칩cenos <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">Supermercados <span class="sr-only">(current)</span></a>
              </li><li class="nav-item active">
                <a class="nav-link" href="#">Traba con nosotros <span class="sr-only">(current)</span></a>
              </li><li class="nav-item active">
                <a class="nav-link" href="#">Atenci칩n al Cliente <span class="sr-only">(current)</span></a>
              </li>
            </ul>            <span>Espa침ol <i class="fas fa-angle-down"></i></span>          </div>
    </nav>    
    <div id="cabecera" class="container-fluid">
        <div>
            <br><br>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                       <p>Empieza tu compra<br> en Mercadona</p>  
                          <br>


                     <form class="form-inline my-2 my-lg-0" method="POST" action="{{ path('formulariocp') }}">
                              <input class="form-control mr-sm-2" name="inputcp" type="text" placeholder="C칩gigo postal" >
                              <button class="btn btn btn-success my-2 my-sm-0" id="cp-entrar" type="submit">ENTRAR  <i class="fas fa-arrow-right"></i></button>
                        </form>
                    <br><br><br><br><br>
                </div>
              </div>
           </div>


    </div>   

     </header>